@font-face {
    font-family: "Avenir Next Cyr";
    src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
    src:
            url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
            url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
    src:
            url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
            url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("ttf")
}

* {
    font-family: "Avenir Next Cyr", serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Avenir Next Bold", serif;
    font-weight: normal;
    color: #575757;
}


.order-container {
    position: relative;

    width: 33%;
    min-width: 315px;

    margin: 10px;
    padding: 3px 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #c1c1c1;
}

.order-num {
    position: absolute;
    left: 10px;
    top: 0;
}

.table-num {
    position: absolute;
    right: 10px;
    top: 0;
}

.order-time {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10px;
    font-family: "Avenir Next Bold", serif;
    color: darkgray;
    font-size: 14px;
}

.content {
    background-color: #00bf52;
    margin-top: 30px;
}

.content ul {
    list-style-type: none;
}

.content ul li {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.content div{
    display: inline-block;
}

.item {
    display: flex;
}

.item-info {
    display: inline-block;
    flex: 7 0 auto;
    vertical-align: middle;
}

.quantity {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: middle;
    text-align: right;
}

.price {
    display: inline-block;
    flex: 2 0 auto;
    vertical-align: middle;
    text-align: right;
}
