@primary_color_green:#59CD90;
@primary_color_red:#EE6352;
@primary_color_blue:#3FA7D6;
@primary_color_gray:#ADADAD;
@primary_color_yellow:#FAC05E;

@green_tone_1:#B3E8CC;
@green_tone_2:#86DAAE;
@green_tone_3:#419669;
@green_tone_4:#295E42;

@red_tone_1:#F9B7A5;
@red_tone_2:#F28D81;
@red_tone_3:#AE493C;
@red_tone_4:#6D2D26;

@blue_tone_1:#A7D7EC;
@blue_tone_2:#73BFE1;
@blue_tone_3:#2E7A9C;
@blue_tone_4:#1D4C62;

@yellow_tone_1:#FEF3E1;
@yellow_tone_2:#FCE2B5;
@yellow_tone_3:#B68C45;

@gray_tone_1:#F3F3F3;
@gray_tone_2:#E6E6E6;
@gray_tone_3:#C9C9C9;
@gray_tone_4:#707070;
@gray_tone_5:#575757;
@gray_tone_6:#464646;

@header_height:90px;

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src:
          url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
          url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("ttf")
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src:
          url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
          url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("ttf")
}

@main_font_family:"Avenir Next Cyr", serif;
@main_font_family_bold:"Avenir Next Bold", serif;
@header_font:'Roboto Condensed', sans-serif;

*{
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

.btn-style{
  font-family: @main_font_family_bold;
  font-weight: normal;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: 0 4px @gray_tone_3;
}

.btn-style:active{
  box-shadow: 0 5px @gray_tone_4;
  transform: translateY(4px);
}

.header {
  height: @header_height;
  color: white;
  font-family: @header_font;
  font-size: 24px;
  //font-weight: bold;
  width: 100%;

  //position: fixed;

  ul{
    text-align: right;
    padding: 5px 20px;

    li{
      display : inline-block;
      padding: 10px 0;
      margin-left: 20px;

      img{
        padding: 0;
        height: 75px;
        margin-top: -25px;
      }
    }
  }
}

//SCROLLBAR STYLE
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  border:1px @gray_tone_2 solid;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: @yellow_tone_2;
  border:1px @gray_tone_3 solid;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: @yellow_tone_3;
}

//END


//INPUT STYLE
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
input::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
input:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}
input:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}
//END

// DATE INPUT STYLE
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: @gray_tone_5;
  font-family: @main_font_family;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  border-bottom: 1px solid @gray_tone_3;
  //border:1px solid @gray_tone_3;
  //padding:5px;
  background: transparent url("../images/date-picker5.png") 97% 50% no-repeat;
}
//END

//SELECT STYLE
select{
  border: 0;
  border-bottom: 1px solid @gray_tone_3;
}

.input-style{
  .input{
    border: 0;
    border-bottom: 1px solid @gray_tone_3;
  }
}
//

//INPUT CHECKBOX STYLE
.checkbox-style {
  display: none;
}

.checkbox-style + label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

.checkbox-style + label:before {
  content: '';
  background: transparent url("../images/checkbox-gray.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  width: 24px;
  transition: background 0.2s ease-in-out;
}

.checkbox-style:checked + label:before {
  background: transparent url("../images/check-box-green.png") no-repeat;
}

.image-transition{
  -webkit-transition: 200ms linear all;
  -moz-transition: 200ms linear all;
  -o-transition: 200ms linear all;
  transition: 200ms linear all;
}
//END

//MODAL WINDOW STYLE
.modal{
  font-family: @main_font_family;
  .modal-header{
    .modal-title{
      display: inline-block;
      font-weight: bold;
    }
  }

  .save-modal-btn{
    background-color: @green_tone_2;
    color: @green_tone_4;
    width: 100px;
  }

  .close-modal-btn{
    background-color: @red_tone_2;
    color: @red_tone_4;
  }
}

//END


