@import "main";
@import "general_styles/header";
@import "general_styles/search_area";
@import "general_styles/table_style";
@import "general_styles/new_item_styles";
@import "general_styles/add_products";

@main_font_size: 20px;
@scale_value: 1.2;

body {
  margin: 0;
  margin-bottom: 50px;
}

//GENERAL STYLES
.ul-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: @gray_tone_5;
  font-family: @main_font_family;
}

//END


.toggle-area {
  max-width: 80%;

  .main-area {
    .general-inf {
      left: 0;

      form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .provider-list {
        padding-left: 10px;

        .select-cont {
          min-width: 250px;
        }
      }
    }

    //.products {}
  }
}

.table-area {
  table {
    tbody {
      .extra {
        td {
          .products-list {
            ul {
              .product {
                .number {
                  width: 2%;
                }
                .name {
                  width: 20%;
                }
                .unit-price {
                  width: 10%;
                }
                .curr-amount {
                  width: 10%;
                }
                .start-amount {
                  width: 10%;
                }
                .gen-price {
                  width: 10%;
                }
                .date {
                  width: 15%;
                }
              }
            }
          }
        }
      }
    }
  }
}

